@using Microsoft.AspNetCore.Identity
@using FurrLife.Models
@using FurrLife.Static
@{
    var _userManager = Context.RequestServices.GetRequiredService<UserManager<IdentityUser>>();
    var user = await _userManager.FindByNameAsync(User.Identity?.Name);
    var UserId = user.Id;
    var UserRoleId = user.SecurityStamp;
}
<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>


                <li>
                    <a href="@Url.Action("Index", "Dashboard")" class="waves-effect">

                        @if (UserRoleId == UserRoles.Customer.Id)
                        {
                            <span>My Account</span>
                        }
                        else
                        {
                            <span>Dashboard</span>
                        }
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "MenuProducts")" class="waves-effect">
                        <span>Shop</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "PetHealthRecords")" class="waves-effect">
                        <span>Pet Records</span>
                    </a>
                </li>
                @*                 <li>
                <a href="@Url.Action("Index", "Services")" class="waves-effect">
                <span>Services</span>
                </a>
                </li> *@
                <li>
                    <a href="@Url.Action("Calendar", "Appointments")" class="waves-effect">
                        <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Appointments")" class="waves-effect">
                        <span>Appointments</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Consultation", "Appointments")" class="waves-effect">
                        <span>Consultations</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Feedbacks")" class="waves-effect">
                        <span>Feedback</span>
                    </a>
                </li>

                @if (UserRoleId == UserRoles.Administrator.Id)
                {
                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <span>Manage Accounts</span>
                            <div class="arrow-down"></div>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href=@Url.Action("Index", "Administrator")>Administrator</a></li>
                            <li><a href=@Url.Action("Index", "Veterinarian")>Veterinarian</a></li>
                  @*           <li><a href=@Url.Action("Index", "Staff")>Staff</a></li> *@
                            <li><a href=@Url.Action("Index", "Customer")>Customer</a></li>
                        </ul>
                    </li>
                }



                @if (UserRoleId == UserRoles.Administrator.Id)
                {
                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <span>Maintenance</span>
                            <div class="arrow-down"></div>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            @*                         @if (UserRoleId == UserRoles.Administrator.Id || UserRoleId == UserRoles.Veterinarian.Id || UserRoleId == UserRoles.Staff.Id)
                        {
                        <li><a href=@Url.Action("Index", "Appointments")>Appointments</a></li>
                        } *@

                            <li><a href=@Url.Action("Index", "Menu")>Category</a></li>
                            <li><a href=@Url.Action("Index", "Products")>Products & Services</a></li>
                            <li><a href=@Url.Action("Index", "Units")>Product Units</a></li>
                            <li><a href=@Url.Action("Index", "Discounts")>Product Discounts</a></li>

                        </ul>
                    </li>
                }
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->