@model FurrLife.Models.PetRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PetRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicalCondition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhysicalCondition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreviousIllnessesOrSurgeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreviousIllnessesOrSurgeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VaccinationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccinationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentMedicationsOrTreatments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentMedicationsOrTreatments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperamentAndPersonality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperamentAndPersonality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BehavioralIssuesOrChanges)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BehavioralIssuesOrChanges)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentDietAndFeedingSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentDietAndFeedingSchedule)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FoodAllergiesOrSensitivities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FoodAllergiesOrSensitivities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LivingConditions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LivingConditions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InteractionWithOtherPets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InteractionWithOtherPets)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecificIssuesOrSymptoms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecificIssuesOrSymptoms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerQuestionsOrTopics)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerQuestionsOrTopics)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroomingHabits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroomingHabits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseRoutines)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExerciseRoutines)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReasonForVisit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReasonForVisit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FollowUpCareInstructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FollowUpCareInstructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultationSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OwnerConsentGiven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OwnerConsentGiven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReferralInformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReferralInformation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
