@using System.Globalization;
@using FurrLife.Static
@using Microsoft.AspNetCore.Identity
@model IEnumerable<Messages>
@{
    var _userManager = Context.RequestServices.GetRequiredService<UserManager<IdentityUser>>();
    var user = await _userManager.FindByNameAsync(User.Identity?.Name);
    var userId = user.Id;
    var UserRoleId = user.SecurityStamp;
    var Users = ViewBag.Users as SelectList;
    decimal TotalAmount = 0;
}

<ul class="list-unstyled mb-0" data-simplebar style="max-height: 486px;" id="chat-box">
    @foreach (var item in Model)
    {
        if (UserRoleId == UserRoles.Customer.Id)
        {
            if (item.CustId != "")
            {
                <li class="right">
                    <div class="conversation-list">
                        <div class="ctext-wrap">
                            <div class="conversation-name">@Users.Where(m => m.Value == item.CustId).FirstOrDefault().Text</div>
                            <p>
                                @{
                                    if (item.Message.Contains("ChatUploads"))
                                    {
                                        <img src="@item.Message" height="300px" alt="" />
                                    }
                                    else
                                    {
                                        <span>@item.Message</span>
                                    }
                                }
                            </p>
                            <small><i class="bx bx-time-five align-middle"></i> @item.DateCreated.ToString("MMM. dd, 2024 hh:mm tt")</small>
                        </div>

                    </div>
                </li>
            }
            if (item.UserId != "")
            {
                <li>
                    <div class="conversation-list">
                        <div class="ctext-wrap">
                            <div class="conversation-name">@Users.Where(m => m.Value == item.UserId).FirstOrDefault().Text</div>
                            <p>
                                @{
                                    if (item.Message.Contains("ChatUploads"))
                                    {
                                        <img src="@item.Message" height="300px" alt="" />
                                    }
                                    else
                                    {
                                        <span>@item.Message</span>
                                    }
                                }
                            </p>
                            <small><i class="bx bx-time-five align-middle"></i> @item.DateCreated.ToString("MMM. dd, 2024 hh:mm tt")</small>
                        </div>

                    </div>
                </li>
            }
        }

        if (UserRoleId != UserRoles.Customer.Id)
        {
            if (item.CustId != "")
            {
                <li>
                    <div class="conversation-list">
                        <div class="ctext-wrap">
                            <div class="conversation-name">@Users.Where(m => m.Value == item.CustId).FirstOrDefault().Text</div>
                            <p>
                                @{
                                    if (item.Message.Contains("ChatUploads"))
                                    {
                                        <img src="@item.Message" height="300px" alt="" />
                                    }
                                    else
                                    {
                                        <span>@item.Message</span>
                                    }
                                }
                            </p>
                            <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> @item.DateCreated.ToString("MMM. dd, 2024 hh:mm tt")</p>
                        </div>

                    </div>
                </li>
            }
            if (item.UserId != "")
            {
                <li class="right">
                    <div class="conversation-list">
                        <div class="ctext-wrap">
                            <div class="conversation-name">@Users.Where(m => m.Value == item.UserId).FirstOrDefault().Text</div>
                            <p>
                                @{
                                    if (item.Message.Contains("ChatUploads"))
                                    {
                                        <img src="@item.Message" height="300px" alt="" />
                                    }
                                    else
                                    {
                                        <span>@item.Message</span>
                                    }
                                }
                            </p>
                            <p class="chat-time mb-0"><i class="bx bx-time-five align-middle me-1"></i> @item.DateCreated.ToString("MMM. dd, 2024 hh:mm tt")</p>
                        </div>

                    </div>
                </li>
            }
        }



    }
</ul>
