@using System.Globalization;
@model IEnumerable<Products>

    <!-- ION Slider -->
<link href="~/assets/libs/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<table id="datatable-buttons" class="table table-bordered table-striped dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>#</th>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Discounts</th>
            <th>Rating</th>
            <th>Status</th>
            <th class="text-center" style="table-layout: fixed;">
                <a onclick="Create()" class="btn btn-primary waves-effect waves-light btn-sm" data-bs-toggle="modal" data-bs-target="#CreateUpdateModal">Create</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            var Count = 0;
        }
        @foreach (var item in Model)
        {
            Count++;
            <tr>
                <td>@Count.</td>
                <td> <img src="@item.ImageURL" alt="" class="img-fluid mx-auto d-block" style="width: 60px;"></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>
                    @if (item.Discounts > 0)
                    {
                        var DiscountedPrice = (item.Price - (item.Price * item.Discounts) / 100);
                        <h6 class="my-0">
                            <span class="text-muted me-2"><del>@string.Format(new CultureInfo("en-PH", false), "{0:C}", item.Price)</del></span>
                            <br />
                            <b>@string.Format(new CultureInfo("en-PH", false), "{0:C}", DiscountedPrice)</b>
                        </h6>
                    }
                    else
                    {
                        <h6 class="my-0"><b>@string.Format(new CultureInfo("en-PH", false), "{0:C}", item.Price)</b></h6>
                    }
                </td>
                <td>
                    @if (item.Discounts > 0)
                    {
                        <span>-@item.Discounts %</span>
                    }
                </td>
                <td>
                    @for (int i = 1; i <= 5; i++)
                    {
                        if (i <= item.ProductRating)
                        {
                            <i class="bx bxs-star text-warning"></i>
                        }
                        else
                        {
                            <i class="bx bxs-star"></i>
                        }

                    }
                </td>
                <td>
                    @if (item.IsActive.Value)
                    {
                        <span class="badge bg-success rounded-pill p-1">Active</span>
                    }
                    else
                    {
                        <span class="badge bg-danger rounded-pill">Inactive</span>
                    }
                </td>
                <td class="text-center">
                    <a href="#" onclick="Edit(@item.Id)" class="btn btn-success waves-effect waves-light btn-sm" data-bs-toggle="modal" data-bs-target="#CreateUpdateModal">
                        Edit
                    </a>
                    <a href="#" onclick="Delete(@item.Id)" class="btn btn-danger waves-effect waves-light btn-sm">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>

<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>